
<div class="input-group mb-1">
    <input type="text" class="form-control pl-4" placeholder="Добавьте комментарий" @bind="text">
    <div class="input-group-append">
        <button class="btn btn-dark text-light" @onclick="()=> { добавить.InvokeAsync(text); text = String.Empty; }">Добавить</button>
    </div>
</div>

@code {
    [Parameter]
    public string text { get; set; }

    [Parameter]
    public EventCallback<string> textChanged { get; set; }

    [Parameter]
    public EventCallback<string> добавить { get; set; }
}
