@layout CPanelLayout
@page "/cpanel/photos/create"
@attribute [Authorize(Roles = "администратор, редактор")]
@inject PhotosService PhotosService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Identity.UserManager<user> UserManager

<h3 class="mb-3 text-dark">Создать фотоальбом</h3>

<div class="d-flex justify-content-between align-items-center mb-3">
    @*Заголовок страницы*@
    <div class="nav nav-pills">
        <a class="btn btn-secondary active mr-1 mb-1 mb-sm-0" data-toggle="pill" href="#list-home">Обложка</a>
        <a class="btn btn-secondary" data-toggle="pill" href="#list-images">Фотографии</a>
    </div>
    @*Кнопки сохранения и отмены*@
    <div class="form-group mb-0 text-right">
        <button class="btn btn-tertiary text-dark mb-1 mb-sm-0" @onclick="()=>сохранить()">Сохранить</button>
        <a class="btn btn-secondary text-dark" href="/cpanel/photos">Отмена</a>
    </div>
</div>

<div class="tab-content">
    @*Обложка публикации*@
    <div class="tab-pane fade show active" id="list-home">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input class="form-control border-0 bg-light text-dark" placeholder="Название" @bind="album.title" />
                </div>
                <div class="form-group">
                    <textarea rows="4" class="form-control border-0 bg-light text-dark" placeholder="Описание" @bind="album.description" />
                </div>
                <div class="form-group d-flex justify-content-end align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="mr-1 text-dark">Дата публикации:</div>
                        <input type="date" class="btn border-0 bg-light text-dark" placeholder="месяц" @bind="album.created" title="Выберите дату" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control border-0 bg-light text-dark" placeholder="Url обложки" @bind-value="album.cover_image" @bind-value:event="oninput" />
                    <img class="card-img w-100 mt-3" src="@album.cover_image" />
                </div>
            </div>
        </div>
    </div>
    @*Содержимое публикации*@
    <div class="tab-pane fade" id="list-images">
        <div class="mb-3">
            <button class="btn btn-secondary text-dark" @onclick="()=>добавить()">Добавить фотографию <i class="fas fa-plus-circle text-dark"></i></button>
        </div>
        @foreach (var image in album.images)
        {
            <blazorHramTemplate2.Areas.ControlPanel.Pages.Photos.Photo.Photo image="image" DeleteImage="(sender)=>удалить(sender)" />
        }
    </div>
</div>



@code {
    imageAlbum album = new imageAlbum();
    user user = new user();

    protected override async Task OnInitializedAsync()
    {
        //album.userId = (await UserManager.FindByNameAsync((await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity.Name)).Id;        
        user = await userIdentity();
    }

    void добавить()
    {
        album.images.Add(new image());
    }

    void удалить(image image)
    {
        album.images.Remove(image);
    }

    async Task сохранить()
    {
        album.userId = user.Id;
        await PhotosService.addAsync(album);
        NavigationManager.NavigateTo("/cpanel/photos", true);
    }

    async Task<user> userIdentity()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (state.User.Identity.IsAuthenticated)
        {
            return await UserManager.FindByNameAsync(state.User.Identity.Name);
        }
        else return new user();
    }
}
