@layout CPanelLayout
@page "/cpanel/settings"
@attribute [Authorize(Roles = "администратор")]
@inject AppSettingsService AppSettingsService

<h3 class="mb-3 text-dark">Настройки</h3>


<div class="mb-3">
    <label class="text-dark">Название сайта:</label>
    <div class="form-control bg-light text-dark border-0 h-auto">@appsettings.SiteSettings.site_name</div>
</div>
<div class="mb-3">
    <label class="text-dark">Описание сайта:</label>
    <div class="form-control bg-light text-dark border-0 h-auto">@appsettings.SiteSettings.site_description</div>
</div>
<div class="mb-3">
    <label class="text-dark">Подвал сайта:</label>
    <div class="form-control bg-light text-dark border-0 h-auto">@appsettings.SiteSettings.site_footer</div>
</div>
<div class="mb-3">
    <label class="text-dark">Строка подключения:</label>
    <div class="form-control bg-light text-dark border-0 h-auto">@appsettings.ConnectionStrings.FirstOrDefault().Value</div>
</div>
<a class="btn btn-tertiary text-dark" href="cpanel/settings/edit">Редактировать</a>


@code {
    appsettings appsettings { get; set; }
    protected override void OnInitialized()
    {
        appsettings = AppSettingsService.settings;
    }
}
